@font-face {
    src: url(../fonts/WorkSans-Medium.ttf);
    font-family: worksans;
    font-weight: 500;
}
@font-face {
    src: url(../fonts/WorkSans-Regular.ttf);
    font-family: worksans;
    font-weight: 400;
}
@font-face {
    src: url(../fonts/WorkSans-Light.ttf);
    font-family: worksans;
    font-weight: 100;
}
body {
    padding: 0;
    margin: 0;
    overscroll-behavior-y: none;
}

:root {
    --accent-color: black;
    --bar-color: black;
    --hover-color-normal: gray;
    --hover-color-nav: gray;
    --text-color: black;
    --not-text-color: rgba(240, 240, 240);
    --background: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02)), url("None");
    --squiggly: url("../images/underline.gif") bottom repeat-x;
}

[data-theme="dark"] {
    --accent-color: white;
    --bar-color: lime;
    /* --bar-color: rgb(204, 255, 0); */
    --hover-color-normal: lightgray;
    --hover-color-nav: white;
    --text-color: white;
    --not-text-color: rgba(30, 30, 30);
    /* --background: linear-gradient( rgba(0, 0, 0,0.05), rgba(0, 0, 0,0.05) ), url('../images/background_2.jpg'); */
    --background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../images/skate.jpeg");
    --squiggly: url("none");
}

.theme-switch-wrapper {
    /* background-color: lightgrey; */
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 50px;
    height: 20px;

    position: fixed;
    top: 0;
    right: 2px;
    font-size: 9pt;
    font-weight: 500;
}
.theme-switch {
    display: inline-block;
    height: 17px;
    position: relative;
    width: 30px;
}

.theme-switch input {
    display: none;
}
.slider {
    background-color: var(--text-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s;
}

.slider:before {
    background-color: var(--not-text-color);
    top: 2px;
    content: "";
    height: 13px;
    left: 2px;
    position: absolute;
    transition: 0.3s;
    width: 13px;
}

input:checked + .slider:before {
    transform: translateX(13px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

.wrapper {
    font-family: worksans, Arial;
    font-weight: 100;
    color: var(--text-color);
    background-image: var(--background);
    background-position-x: center;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: row;

    align-items: center;
}

.centernav {
    float: left;

    display: flex;

    flex-direction: column;
    text-align: center;
    justify-content: center;

    width: 30%;
    max-width: 600px;
    padding: 10px;
}

.bigname {
    letter-spacing: 0.5px;
    font-size: 20pt;
    margin-top: 10px;
    margin-bottom: 3px;
    font-weight: 500;
}
.squiggly {
    background: var(--squiggly);
    display: inline;
}

.squiggly .dissappearingname {
    display: inline;
}

.squiggly:hover {
    background: None;
}

.squiggly:hover::after {
    content: "Re·bar·chek";
}
.squiggly:hover .dissappearingname {
    display: none;
}

a {
    position: relative;
}

a:link {
    color: var(--text-color);
}
a:visited {
    color: var(--text-color);
}
a:hover {
    color: var(--hover-color-normal);
}

.breadcrumbs a {
    padding: 10px;
}

.links {
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.links a {
    text-decoration: none;
    font-family: "Courier New";
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 8pt;
}

.links a:link {
    color: var(--accent-color);
}
.links a:visited {
    color: var(--accent-color);
}
.links a:hover {
    color: var(--hover-color-nav);
}
.links a.now:after {
    font-weight: 600;
    content: "^";
    position: absolute;
    right: 45%;
    bottom: -70%;
}
.fa {
    text-decoration: none;
    font-size: 90%;
}

p {
    letter-spacing: 0.4px;
    margin-bottom: 10px;
}

.intro {
    font-size: 11pt;
    float: left;
}

.content {
    width: 65%;
    padding: 50px;
    font-size: 9pt;
    line-height: 1.5em;
    border-left: 1px solid var(--bar-color);
}
.content-scroll {
    width: 65%;
    padding: 50px;
    font-size: 9pt;
    line-height: 1.5em;
    border-left: 1px solid var(--bar-color);

    /* DIFFERENT PART */
    overflow-y: auto;
    max-height: 85vh;
}

.text {
    padding-left: 50px;
    padding-right: 25px;
    max-width: 600px;
}

p img {
    max-width: 70%;
}

img {
    display: block;
    margin: 0 auto;
    box-shadow: 0px 1px 7px grey;
}

ul {
    list-style-type: none;
}
li {
    margin: 10px 0;
}
.date {
    font-family: "Courier New";
    display: inline;
}
/* .date:after{
    content: "- ";
    display: inline;
} */

.grid-container {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.grid-entry {
    text-align: center;
    width: 300px;
    height: 185px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.grid-entry-img-wrapper {
    box-shadow: 0px 1px 7px grey;
}

.grid-entry-img-wrapper img {
    padding: 0px;
    width: 100%;
    height: 140px;
    vertical-align: top;
    object-fit: cover;
}

.grid-entry:hover img {
    -webkit-filter: blur(2px);
    filter: blur(2px);

    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.arrow {
    display: inline;
    padding-left: 2pt;
    padding-right: 2pt;
}

/* MOBILE */
@media only screen and (max-width: 700px) {
    .wrapper {
        flex-direction: column;
    }
    .centernav {
        width: 100%;
    }
    .content {
        width: 80%;
        padding: 15px;
        border-left: none;
    }
    .text {
        padding-left: 10px;
        padding-right: 10px;
    }
    .content-scroll {
        width: 80%;
        padding-top: 15px;

        max-height: none;
        overflow-y: visible;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
}
