

@font-face{
    src: url(../fonts/WorkSans-Medium.ttf);
    font-family: worksans;
    font-weight: 500;
}
@font-face{
    src: url(../fonts/WorkSans-Regular.ttf);
    font-family: worksans;
    font-weight: 400;
}
@font-face{
    src: url(../fonts/WorkSans-Light.ttf);
    font-family: worksans;
    font-weight: 100;
}

body { 
    padding: 0;
    margin: 0;   
    overscroll-behavior-y: none;
    


}

    
.wrapper {
    font-family: worksans, Arial;
    font-weight: 100;
    color: black;
    width: 100vw;
    min-height: 100vh;

    display: flex; 
    flex-direction: row;

    align-items: center;


}

.centernav{
    float: left;

    display: flex;
    
    flex-direction: column;
    text-align: center;
    justify-content: center;

    width: 40%;
    padding: 10px;


}

.bigname { 
    letter-spacing: .5px;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 3px; 
    font-weight: 500;
    /* float: left; */
}
.squiggly {
    background: url(../images/underline.gif) bottom repeat-x;
    display: inline;
}

a { 
    position: relative; 
}


a:link{ color: black; }
a:visited { color: black; }
a:hover {color: grey}


.links{
    margin:10px;
}
.links a{
    text-decoration: none;
    font-family: 'Courier New';
    /* font-size: 16px; */
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 3px;
    padding-bottom: 3px;

}


.links a:link{ color: black; }
.links a:visited { color: black; }
.links a:hover { color: grey; }
.links a.now:after{
    font-weight: 600;
    content: "^";
    position: absolute;
    right: 45%;
    bottom: -70%; 

}

.fa{
    text-decoration: none;
    font-size: 75%;
}


p{
    letter-spacing: .5px;
    margin-bottom: 25px;
}

.content{
    width: 60%;

/* DIFFERENT PART */
    overflow-y: auto;
    max-height: 85vh;
    
    padding: 50px;
    font-size: 12pt;
    line-height: 1.5em;

    border-left: 1px solid black;

}
p img{
    display:block; 
    margin: 0 auto;
    width: 50%;

}


img{
    display:block; 
    margin: 0 auto;
    padding: 40px;

}

.breadcrumbs{
    font-size: 9pt;
    display: inline;
}


.arrow{
    content: "»";
    font-size: 11pt;
    display: inline;
    padding-left: 2pt;
    padding-right: 2pt;
}

.date {
    font-family: 'Courier New';
    display: inline;
}



/* DIFFERENT */
@media only screen and (max-width:700px){
    .wrapper {
        flex-direction: column; 

    }
    .centernav{
        width: 100%;
    }
    .content{

        margin-top: 20px;
        width: 80%;
        padding-top: 25px;

        max-height: none;
        overflow-y: visible;

    }
    img{
        width: 90%;
    }
    .links a{
        padding-left: 10px;
        padding-right: 10px;
    }
    

}


@media only screen and (min-width:700px) and (max-width:1200px){
    .links a{
        padding-left: 12px;
        padding-right: 12px;
    }
    img{
        height: 300px;
    }

    

}





