

@font-face{
    src: url(fonts/WorkSans-Medium.ttf);
    font-family: worksans;
    font-weight: 600;
}
@font-face{
    src: url(fonts/WorkSans-Regular.ttf);
    font-family: worksans;
    font-weight: 400;
}
@font-face{
    src: url(fonts/WorkSans-Light.ttf);
    font-family: worksans;
    font-weight: 200;
}

body { 
    padding: 0;
    margin: 0;   
    overscroll-behavior: none;


}

/* It's after because I had trouble doing greyscale AND background */
.wrapper::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient( rgba(10, 10, 10,.9), rgba(10, 10, 10, .9) ), url('images/skate.jpeg');
    background-size: cover;
    filter: grayscale(100%);
    z-index: -1;
}
    
.wrapper {
    position: fixed;

    display: flex; 
    flex-direction: row;

    width: 100%;
    min-height: 100%;

    align-items: center;
    justify-content: center;

    font-family: worksans, Arial;
    font-weight: 200;
    color: white;

}

.centernav{
    float: left;

    display: flex;
    
    flex-direction: column;
    text-align: center;
    justify-content: center;

    width: 40%;
    padding: 10px;


}

.bigname { 
    letter-spacing: .5px;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 3px; 
    font-weight: 600;
    /* float: left; */
}
.squiggly {
    /* background: url(images/underline.gif) bottom repeat-x; */
    display: inline;
}

a { text-decoration: none;
    position: relative; }
.content a:after {
    content: '';

    width: 100%;
    position: absolute;
    left: .5%;
    bottom: -2%;
    border-bottom: 1px solid;
    }
a:link{ color: white; }
a:visited { color: white; }
a:hover {color: lightgrey}


.links{
    margin:10px;
}
.links a{
    font-family: 'Courier New';
    /* font-size: 16px; */
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 3px;
    padding-bottom: 3px;

}


.links a:link{ color: lime; }
.links a:visited { color: lime; }
.links a:hover { color: white; }
.links a.now:after{
    font-weight: 600;
    content: "^";
    position: absolute;
    right: 45%;
    bottom: -70%; 

}

p{
    letter-spacing: 1px;
    margin-bottom: 25px;
}


.content{
    width: 60%;
    line-height: 1.5em;

    overflow-y: auto;
    max-height: 85vh;
    
    padding: 50px;
    font-size: 12pt;

    border-left: 1px solid lime;

}

img{
    display:block; 
    margin: 0 auto;
    max-height: 300px;
    padding: 40px;

}

.breadcrumbs{
    font-size: 9pt;
    display: inline;
}
.breadcrumbs a{

}


.arrow{
    content: "»";
    font-size: 11pt;
    display: inline;
    padding-left: 2pt;
    padding-right: 2pt;
}

.date {
    font-family: 'Courier New';
    display: inline;
}




@media only screen and (max-width:700px){
    .wrapper {
        flex-direction: column; 

    }
    .centernav{
        width: 100%;
    }
    .content{

        margin-top: 20px;
    }
    img{
        height: 200px;
    }
    

}


@media only screen and (min-width:700px) and (max-width:1200px){
    .links a{
        padding-left: 12px;
        padding-right: 12px;
    }
    img{
        height: 300px;
    }

    

}





