

@font-face{
    src: url(fonts/WorkSans-Medium.ttf);
    font-family: worksans;
    font-weight: 600;
}
@font-face{
    src: url(fonts/WorkSans-Regular.ttf);
    font-family: worksans;
    font-weight: 400;
}
@font-face{
    src: url(fonts/WorkSans-Light.ttf);
    font-family: worksans;
    font-weight: 200;
}

body { 
    padding: 0;
    margin: 0;   
    overscroll-behavior: none;


}

.wrapper::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient( rgba(0, 0, 0,.85), rgba(0, 0, 0, .85) ), url('images/skate.jpeg');
    background-size: cover;
    filter: grayscale(100%);
    z-index: -1;
}
    
.wrapper {
    position: fixed;

    display: flex; 
    flex-direction: row;

    width: 100%;
    min-height: 100%;

    align-items: center;
    justify-content: center;

    font-family: worksans;
    font-weight: 200;
    color: white;
    /* background-image: linear-gradient( rgba(0, 0, 0,.8), rgba(0, 0, 0, .8) ), url('images/skate.jpeg');
    background-size: cover;
    background-repeat: no-repeat; */
}

.centernav{
    float: left;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 40%;

}

.bigname { 
    letter-spacing: .5px;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 3px; 
    font-weight: 600;
    /* float: left; */
}
.squiggly {
    background: url(images/underline.gif) bottom repeat-x;
    display: inline;
}

.links{
    margin:10px;
}
.links a{
    font-family: 'Courier New';
    /* font-size: 16px; */
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 3px;
    padding-bottom: 3px;

}


a { text-decoration: underline; position: relative; }
a:link{ color: white; }
a:visited { color: white; }

.links a:link{ color: lime; text-decoration: none;}
.links a:visited { color: lime; }
.links a:hover { color: white; }
.links a.now:after{
    font-weight: 600;
    content: "^";
    position: absolute;
    /* bottom: 20%; 
    left: 0%; */
    right: 45%;
    bottom: -70%; 
    /* this is janky af. fix it */

}



.content{
    width: 60%;
    line-height: 1.5em;

    overflow-y: auto;
    max-height: 85vh;
    
    padding: 50px;
    font-size: 12pt;

    border-left: 1px solid lime;

}
/* .content::before{
    content: '';
    background-color: red;
    width:3px;
    height: 90%;
    bottom: 0;
    left: -7px;

} */

img{
    display:block; 
    margin: 0 auto;
    height: 400px;
    padding: 40px;

}




